
{% extends "base.html" %}
{% load static %}

{% block baslik %}Firma Raporu - {{ budget.id }} - {{ block.super }}{% endblock %}

{% block govde %}

<div class="container" id="{{ budget.id }}_rapor" name="rapor">

	<div class="row justify-content-center">
		<img src="{% static 'img/LOGOO_sm.jpg' %}" name="reportimage">
	</div>
	<div class="row justify-content-center">
		<small>Mali Analiz ve Kontrol Yardımcısı</small>
	</div>

	<div class="row">
		<div class="col col-md-8">
			<h4>{% if budget.grup_ismi %}
				Grup : <small>{{budget.grup_ismi}} Şirketler Grubu</small>
				{% endif %}<br>
				Firma: <small>{{budget.tax_title}}</small><br>
				Dönem: <small>{{budget.period}}</small></h4>
		</div>
		<div class="col col-md-4">
				<h4><br>
				Hazırlayan: <small>{{budget.user.get_full_name}}</small><br>
				Tarih: <small>{{tarih}}</small></h4>
		</div>

	</div>
	<hr>
	<div class="row">
			<h5>Firma/Grup ve Yönetici Detay Bilgileri :</h5>
	</div>
	<div class="row">
			{{budget.company|safe}}
	</div>
	<hr>
	<small>
		<div class="row"><!-- bilanço tablo görünümü -->
			<div class="card-group w-100"><!-- bilanço -->
			  <div class="card"><!-- aktif -->
				<div class="card-header" align="center">AKTİF HESAPLAR</div>
				<div class="card-body">
				  <table class="table table-borderless">
					  <tbody>
					  {% for x, y in aktifler %}
						<tr>
							<td class="justfy-content-left">{{x}}</td>
							<td class="justfy-content-right">{{y}}</td>
						</tr>
					  {% endfor %}
					  </tbody>
				  </table>
				</div>
				<div class="card-footer">
				  <table class="table table-borderless">
					  <tbody>
						<tr>
							<td class="justfy-content-left">AKTİF TOPLAM</td>
							<td class="justfy-content-right">{{aktiftoplam}}</td>
						</tr>
					  </tbody>
				  </table>
				</div>
			  </div><!-- /aktif -->
			  <div class="card"><!-- pasif -->
				<div class="card-header" align="center">PASİF HESAPLAR</div>
				<div class="card-body">
				  <table class="table table-borderless">
					  <tbody>
					  {% for x, y in pasifler %}
						<tr>
							<td class="justfy-content-left">{{x}}</td>
							<td class="justfy-content-right">{{y}}</td>
						</tr>
					  {% endfor %}
					  </tbody>
				  </table>
				</div>
				<div class="card-footer">
				  <table class="table table-borderless">
					  <tbody>
						<tr>
							<td class="justfy-content-left">PASİF TOPLAM</td>
							<td class="justfy-content-right">{{pasiftoplam}}</td>
						</tr>
					  </tbody>
				  </table>
				</div>
			  </div><!-- /pasif -->
			</div><!-- /bilanço -->
		</div><!-- /bilanço tablo görünümü -->
	</small>
	<hr>
	<div class="row">
		<h5>Firma/Grup Mali Veri Detaylarına İlişkin Açıklamalar :</h5>
	</div>
	<div class="row">
		<div class="col col-lg-3">
			<h5>Bilanço Aktifleri</h5>
		</div>
		<div class="col col-lg-9">
			<h6>DÖNEN VARLIKLAR:</h6>
			{{budget.comment1|safe}}<br>
			<h6>DURAN VARLIKLAR:</h6>
			{{budget.comment2|safe}}<br>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col col-lg-3">
			<h5>Bilanço Pasifleri</h5>
		</div>
		<div class="col col-lg-9">
			<h6>YABANCI KAYNAKLAR:</h6>
			{{budget.comment3|safe}}<br>
			<h6>ÖZKAYNAKLAR:</h6>
			{{budget.comment4|safe}}<br>
		</div>
	</div>
	<hr>
	<small>
		<div class="row"><!-- gelir tablosu tablo görünümü -->
				<div class="card w-75 mx-auto"><!-- gelir tablosu -->
					<div class="card-header" align="center">GELİR TABLOSU</div>
					<div class="card-body">
					  <table class="table table-borderless">
						  <tbody>
						  {% for x, y in gelir_tablosu %}
							<tr>
								<td class="justfy-content-left">{{x}}</td>
								<td class="justfy-content-right">{{y}}</td>
							</tr>
						  {% endfor %}
						  </tbody>
					  </table>
					</div>
					<div class="card-footer">
					  <table class="table table-borderless">
						  <tbody>
							<tr>
								<td class="justfy-content-left">DÖNEM NET KARI / ZARARI</td>
								<td class="justfy-content-right">{{kar_zarar}}</td>
							</tr>
						  </tbody>
					  </table>
					</div>
				</div><!-- /gelir tablosu -->

		</div><!-- /gelir tablosu tablo görünümü -->
	</small>
	<hr>
	<div class="row">
		<div class="col col-lg-3">
			<h5>Gelir Tablosu</h5>
		</div>
		<div class="col col-lg-9">
			{{budget.comment5|safe}}<br>
		</div>
	</div>
	<hr>
	<small>
		<div class="row"><!-- oranlar tablosu tablo görünümü -->
				<div class="card-group w-100"><!-- oranlar grup1-->
					<div class="card"><!-- TEMEL GÖSTERGELER -->
						<div class="card-header" align="center">TEMEL GÖSTERGELER</div>
						<div class="card-body">
						  <table class="table table-borderless">
							  <tbody>
							  {% for x, y in temel_oran %}
								<tr>
									<td class="justfy-content-left">{{x}}</td>
									<td class="justfy-content-right">{{y}}</td>
								</tr>
							  {% endfor %}
							  </tbody>
						  </table>
						</div>
					</div><!-- /TEMEL GÖSTERGELER -->
					<div class="card"><!-- FİNANSAL GÖSTERGELER -->
						<div class="card-header" align="center">FİNANSAL GÖSTERGELER</div>
						<div class="card-body">
						  <table class="table table-borderless">
							  <tbody>
							  {% for x, y in finansal_oran %}
								<tr>
									<td class="justfy-content-left">{{x}}</td>
									<td class="justfy-content-right">{{y}}</td>
								</tr>
							  {% endfor %}
							  </tbody>
						  </table>
						</div>
					</div><!-- /FİNANSAL GÖSTERGELER -->
				</div><!-- /oranlar grup1 -->
				<div class="card-group w-100 my-3"><!-- oranlar grup2 -->
					<div class="card"><!-- AKTİVİTE GÖSTERGELERİ -->
						<div class="card-header" align="center">AKTİVİTE GÖSTERGELERİ</div>
						<div class="card-body">
						  <table class="table table-borderless">
							  <tbody>
							  {% for x, y in aktivite_oran %}
								<tr>
									<td class="justfy-content-left">{{x}}</td>
									<td class="justfy-content-right">{{y}}</td>
								</tr>
							  {% endfor %}
							  </tbody>
						  </table>
						</div>
					</div><!-- /AKTİVİTE GÖSTERGELERİ -->
					<div class="card"><!-- KARLILIK GÖSTERGELERİ -->
						<div class="card-header" align="center">KARLILIK GÖSTERGELERİ</div>
						<div class="card-body">
						  <table class="table table-borderless">
							  <tbody>
							  {% for x, y in karlilik_oran %}
								<tr>
									<td class="justfy-content-left">{{x}}</td>
									<td class="justfy-content-right">{{y}}</td>
								</tr>
							  {% endfor %}
							  </tbody>
						  </table>
						</div>
					</div><!-- /KARLILIK GÖSTERGELERİ -->
				</div><!-- /oranlar grup2 -->
		</div><!-- /oranlar tablosu tablo görünümü -->
	</small>
	<hr>
	<div class="row">
		<div class="col col-lg-3">
			<h5>Oran Analizi</h5>
		</div>
		<div class="col col-lg-9">
			{{budget.comment6|safe}}<br>
		</div>
	</div>
	<hr>
	<div class="row">
		<h5>Firmanın/Grubun Mali Yapısı:</h5>
	</div>
	<div class="row">
		{{budget.comments|safe}}<br>
	</div>
	<div class="row">
		<h5>Firma/Grup İçin Tavsiyeler:</h5>
	</div>
	<div class="row">
		{{budget.advice|safe}}
	</div>
</div>

<hr>
{{data|safe}}

<div class="row justify-content-center">
	<hr>
		<a href="{{ budget.get_pdf_url }}" class="btn btn-outline-danger  btn-sm" role="button"> İNDİR </a>
	<hr>
</div>


{% endblock %}

